* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

:root {
  --text-base: #ababab;
  --text-title: #d4bcb6;
  --background: #191616;
  --form-background: #241f1f;
  --primary-color: #41a55b;
}

/* Impede que o chrome mude a cor do input no autocomplete */

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px var(--form-background) inset !important;
}

.input:-webkit-autofill {
  -webkit-text-fill-color: var(--text-base) !important;
}

/* Termina aqui */

body {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-repeat: no-repeat;
  -webkit-font-smoothing: antialiased;

  overflow: hidden;
}

body,
input,
button,
textarea {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  color: var(--text-base);
}

label {
  color: var(--text-title);
}

main {
  display: flex;
  justify-content: center;
  place-items: center;
  background: var(--background);
  width: 100%;
  min-width: 300px;
  max-width: 35vw;
}

aside {
  height: 100vh;
  width: 100%;
  max-width: 65vw;
}

form {
  border-radius: 4px;
}

fieldset {
  padding: 16px 32px;
  background: var(--form-background);
  border: none;
  border-radius: 4px;
  margin-bottom: 8px;
}

h2,
h3 {
  color: var(--text-title);
}

h2 {
  font-family: "Poppins", sans-serif;
  text-align: center;

  margin-bottom: 16px;
}

textarea {
  width: 100%;
  height: 100%;
  max-height: 90px;
  background-color: var(--form-background);
  border: 1px solid #868686;
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 2px;
  padding: 8px;
  resize: none;
}

select {
  background: transparent;
  width: 180px;
  padding: 4px;
  font-size: 16px;
  line-height: 1;
  border-radius: 4px;
  height: 44px;
  margin-right: 8px;
  color: var(--text-base);
}

.input {
  height: 44px;
  background-color: var(--form-background);
  border: 1px solid #868686;
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 2px;
  padding-left: 16px;

  caret-color: var(--text-base);
}

.input:focus,
textarea:focus {
  border: 1px solid var(--primary-color);
}

.input:active {
  border: 1px solid var(--primary-color);
}

input[type="radio"] {
  margin-right: 4px;
}

#pets-image {
  height: 100vh;
  overflow: hidden;
}

.three-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.two-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.box {
  display: flex;
  flex-direction: column;

  /* padding: 0 16px 8px 16px; */
}

.box:last-child {
  margin-left: 8px;
}

.radio-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 16px;
}

#options-container {
  display: flex;
  justify-content: space-between;
}

.buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 16px;
}

#button-save {
  width: 100%;
  height: 51px;
  max-width: 180px;
  background-color: var(--primary-color);
  color: #473404;
  border: none;
  border-radius: 4px;
  cursor: pointer;

  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#button-reset {
  width: 100%;
  height: 51px;
  max-width: 180px;
  background-color: var(--form-background);
  border: 1px solid #868686;
  border-radius: 4px;
  margin: 0 8px 8px 0;
  cursor: pointer;

  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

#button-save:hover,
#button-reset:hover {
  -webkit-filter: brightness(120%);
  filter: brightness(120%);
}
